body {
    text-align: left;
    font-size: 20px;
    font-family: arial;
}

input[type="text"] {
    min-width: 500px;
    min-height: 25px;
}

input {
    background-color: aliceblue;
    border-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 4px;
    min-width: 100px;
}

h2{
    color: tomato;
}

table {
    margin-left: auto;
    margin-right: 5px;
}

#other_pages {
    font-size: 14px;
}

#search_options {
    margin-left: 1px;
    margin-right: auto;
    padding: 3px
}

td {
    padding: 3px
}

h1 {
    color: midnightblue
}